@model Rental

<h1>Rent Books</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Customer</label>
        <select asp-for="CustomerID" asp-items="ViewBag.Customers" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Rental Date</label>
        <input asp-for="RentalDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Return Date</label>
        <input asp-for="ReturnDate" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
